*{
    margin: 0px;
    padding: 0px;
}
.s-main{
    width: 90%;
   
    margin: 0 auto;
}
.a{
  display: flex;
}
.header-h{
    font-size: 30px;
    margin-left: 10px;
    border-left: 5px solid tomato;
}
.header-h h1{
    padding-left: 10px;
}
.a-left-div p{
 margin: 10px;
}
.color-orange{
    color: orange;
}
.a-right-div{
  margin-left: 90px;
}
.a-right-div .header-image{
 width:70%;
 float: right;


}
.half-width{
    width: 40%;
    margin-top: 50px;
  
}
.button{
    background-color: #FF5959;
    margin: 10px;
    color: white;
    margin-bottom: 40px;
    padding: 10px 7px;
    width: 150px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    font-size: bold;
    text-decoration: none;
    text-transform: uppercase;

}
.b-first h1{
    text-align: center;
    font-size: 50px;
    margin: 20px;
}
.c{
 display: flex;
}
.same-width{
   width: 28%;
  
}
.same-width img{
    width: 50px;
}
.c-b{
    margin-left:30px;
    margin-right:30px;
}
.same-width img,h3,p{
    margin-top:10px;
}
.same-width .same-margin{
    margin: 40px 30px;
}
.c-b,.c-c{
background-color: #FFEEEE;
border: 2px solid #FFEEEE;
border-radius: 8px;
}
.c-a{
    background-color: #EDF5F6;
    border: 2px solid #EDF5F6;
    border-radius: 8px;}
    .d{
      display: flex;
      margin-top: 50px;
    }
    .d-left{
      width:40%;

    }
    .d-right{
     width: 50%;
    }
    .d-left img{
        width: 70%;
    }
    .d-right a{
        width: 200px;
        display: inline-block;
        padding: 10px 20px;
        background-color: #FF5959;
        text-decoration: none;
        text-align: center;
        margin: 15px;
        border-radius: 8px;
        color: white;
    }
    .d-right h1{
        font-size: 24px;
        text-transform: uppercase;
    }
    .e{
      display: flex;
      margin-top: 50px;
    }
    .e-left{
        width: 50%;

    }
    .e-right{
        width:40%; 
        margin-left: 50px;
    }
    .e-right img{
        width: 70%;
    }
    .e-left a{
        width: 200px;
        display: inline-block;
        padding: 10px 20px;
        background-color: #FF5959;
        text-decoration: none;
        text-align: center;
        margin: 15px;
        border-radius: 8px;
        color: white;
    }
    .e-left h1{
        font-size: 24px;
        text-transform: uppercase;
    }
    .f{
        text-align: center;
        margin-top: 50px;
        font-size: 30px;
        text-transform: capitalize;
    }
    footer{
        height: 150px;
        margin-top: 50px;
        text-align: center;
        background-color: black;
        color: white;
    }
    footer h4{
    
    }
    footer .foo-s{
        padding: 50px;
        border: 2px solid white);
    }
    footer .foo-s .foo-c{
        color: tomato;
    }
    footer .foo-s h4{
        margin-top: 20px;
    }
